{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% add_lang_files "mozorg/volunteer" %}

{% extends "mozorg/base-resp.html" %}

{% block page_title %}{{_('Get Involved: Volunteer Opportunities at Mozilla')}}{% endblock %}
{% block body_id %}volunteer{% endblock %}

{% block page_css %}
  {{ css('volunteer') }}
{% endblock %}

{% block js %}
  {{ js('volunteer') }}
  {{ js('contribute-form') }}
{% endblock %}

{% block string_data %}
  {# L10n: Used as a label for a button that plays a video. #}
  data-button-play='{{_('Play video')}}'
  {# L10n: Used as a label for a button that pauses a video. #}
  data-button-pause='{{_('Pause video')}}'
{% endblock %}

{% block site_header_nav %}{% endblock %}
{% block site_header_logo %}{% endblock %}

{% block content %}
<main role="main">
  <header class="page-head">
    <nav class="volunteer-nav">
      <div class="container">
        <ul>
          <li><a href="{{ url('mozorg.volunteer.index') }}">{{ _('Volunteer overview') }}</a></li>
          <li><a href="{{ url('mozorg.volunteer.events') }}">{{ _('Worldwide events') }}</a></li>
          <li><a href="{{ url('mozorg.volunteer.stories') }}">{{ _('Mozillian stories') }}</a></li>
        </ul>

      </div>
    </nav>

    <div class="container">
      <h1 class="page-title">{{ _('Volunteer with Mozilla!') }}</h1>

      <ul class="head-stats">
        <li><strong>7,586</strong> {{ _('active worldwide Mozillians') }}</li>
        <li><strong>154</strong> {{ _('upcoming events around the globe') }}</li>
        <li><strong>80</strong> {{ _('Mozillians nearby you can connect with') }}</li>
      </ul>
    </div>
  </header>

  <section class="section inquiry-intro">
    <div class="container">
      <h2 class="section-title">{{ _('How to get involved') }}</h2>
      <ol class="steps">
        <li><b>1</b> <img src="{{ media('img/volunteer/step1-fpo.png') }}" alt=""> <p>{{ _('Choose what interests you and tell us how you’d like to help') }}</p></li>
        <li><b>2</b> <img src="{{ media('img/volunteer/step2-fpo.png') }}" alt=""> <p>{{ _('We’ll connect you with the Mozilla community and get you started') }}</p></li>
        <li><b>3</b> <img src="{{ media('img/volunteer/step3-fpo.png') }}" alt=""> <p>{{ _('Confirm your Mozilla account and see what you can do right away') }}</p></li>
      </ol>
    </div>
  </section>

  <section class="section inquiry-form">

    <form class="container" id="inquiry-form" method="GET" action="{{ url('mozorg.volunteer.confirm') }}">
    <fieldset class="areas">
      <h2 class="section-title">{{ _('Tell us what interests you:') }}</h2>
      <ul class="option-list">
        <li class="option">
          <label for="area-coding"><input type="checkbox" name="area" id="area-coding" value="coding"> <span class="label-text">Coding</span></label>
          <a class="info" href="#" title="{{ _('More about coding') }}">{{ _('More about coding') }}</a>
        </li>
        <li class="option">
          <label for="area-testing"><input type="checkbox" name="area" id="area-testing" value="testing"> <span class="label-text">Testing</span></label>
          <a class="info" href="#" title="{{ _('More about testing') }}">{{ _('More about testing') }}</a>
        </li>
        <li class="option">
          <label for="area-writing"><input type="checkbox" name="area" id="area-writing" value="writing"> <span class="label-text">Writing <i>(Documentation)</i></span></label>
          <a class="info" href="#" title="{{ _('More about writing') }}">{{ _('More about writing') }}</a>
        </li>
        <li class="option">
          <label for="area-teaching"><input type="checkbox" name="area" id="area-teaching" value="teaching"> <span class="label-text">Teaching</span></label>
          <a class="info" href="#" title="{{ _('More about teaching') }}">{{ _('More about teaching') }}</a>
        </li>
        <li class="option">
          <label for="area-helping"><input type="checkbox" name="area" id="area-helping" value="helping"> <span class="label-text">Helping <i>(Support)</i></span></label>
          <a class="info" href="#" title="{{ _('More about helping') }}">{{ _('More about helping') }}</a>
        </li>
        <li class="option">
          <label for="area-localization"><input type="checkbox" name="area" id="area-localization" value="localization"> <span class="label-text">Localization</span></label>
          <a class="info" href="#" title="{{ _('More about localization') }}">{{ _('More about localization') }}</a>
        </li>
        <li class="option">
          <label for="area-activism"><input type="checkbox" name="area" id="area-activism" value="advocacy"> <span class="label-text">Activism</span></label>
          <a class="info" href="#" title="{{ _('More about activism') }}">{{ _('More about activism') }}</a>
        </li>
        <li class="option">
          <label for="area-dontknow"><input type="checkbox" name="area" id="area-dontknow" value="dontknow"> <span class="label-text">I don't know</span></label>
          <a class="info" href="#" title="{{ _('Learn more about how you can contribute') }}">{{ _('Learn more about how you can contribute') }}</a>
        </li>
      </ul>
    </fieldset>

    <fieldset class="personal">
      <h2 class="section-title">{{ _('Now tell us a little about yourself:') }}</h2>
      <ul>
        <li>
          <label for="person-name">Name</label>
          <input type="text" id="person-name" name="name">
        </li>
        <li>
          <label for="person-email">Email address</label>
          <input type="email" id="person-email" name="email">
        </li>
        <li>
          <label for="person-country">Country</label>
          <select name="country" id="select-country">
            <option value="" disabled selected>-- {{ _('Select') }} --</option>
            <option value="af">Afghanistan</option>
            <option value="al">Albania</option>
            <option value="dz">Algeria</option>
            <option value="as">American Samoa</option>
            <option value="ad">Andorra</option>
            <option value="ao">Angola</option>
            <option value="ai">Anguilla</option>
            <option value="aq">Antarctica</option>
            <option value="ag">Antigua and Barbuda</option>
            <option value="ar">Argentina</option>
            <option value="am">Armenia</option>
            <option value="aw">Aruba</option>
            <option value="au">Australia</option>
            <option value="at">Austria</option>
            <option value="az">Azerbaijan</option>
            <option value="bs">Bahamas</option>
            <option value="bh">Bahrain</option>
            <option value="bd">Bangladesh</option>
            <option value="bb">Barbados</option>
            <option value="by">Belarus</option>
            <option value="be">Belgium</option>
            <option value="bz">Belize</option>
            <option value="bj">Benin</option>
            <option value="bm">Bermuda</option>
            <option value="bt">Bhutan</option>
            <option value="bo">Bolivia</option>
            <option value="ba">Bosnia and Herzegovina</option>
            <option value="bw">Botswana</option>
            <option value="bv">Bouvet Island</option>
            <option value="br">Brazil</option>
            <option value="io">British Indian Ocean Territory</option>
            <option value="vg">British Virgin Islands</option>
            <option value="bn">Brunei Darussalam</option>
            <option value="bg">Bulgaria</option>
            <option value="bf">Burkina Faso</option>
            <option value="bi">Burundi</option>
            <option value="kh">Cambodia</option>
            <option value="cm">Cameroon</option>
            <option value="ca">Canada</option>
            <option value="cv">Cape Verde</option>
            <option value="ky">Cayman Islands</option>
            <option value="cf">Central African Republic</option>
            <option value="td">Chad</option>
            <option value="cl">Chile</option>
            <option value="cn">China</option>
            <option value="cx">Christmas Island</option>
            <option value="cc">Cocos (Keeling) Islands</option>
            <option value="co">Colombia</option>
            <option value="km">Comoros</option>
            <option value="cg">Congo-Brazzaville</option>
            <option value="cd">Congo-Kinshasa</option>
            <option value="ck">Cook Islands</option>
            <option value="cr">Costa Rica</option>
            <option value="hr">Croatia</option>
            <option value="cu">Cuba</option>
            <option value="cy">Cyprus</option>
            <option value="cz">Czech Republic</option>
            <option value="dk">Denmark</option>
            <option value="dj">Djibouti</option>
            <option value="dm">Dominica</option>
            <option value="do">Dominican Republic</option>
            <option value="ec">Ecuador</option>
            <option value="eg">Egypt</option>
            <option value="sv">El Salvador</option>
            <option value="gq">Equatorial Guinea</option>
            <option value="er">Eritrea</option>
            <option value="ee">Estonia</option>
            <option value="et">Ethiopia</option>
            <option value="fk">Falkland Islands (Malvinas)</option>
            <option value="fo">Faroe Islands</option>
            <option value="fj">Fiji</option>
            <option value="fi">Finland</option>
            <option value="fr">France</option>
            <option value="gf">French Guiana</option>
            <option value="pf">French Polynesia</option>
            <option value="tf">French Southern Territories</option>
            <option value="ga">Gabon</option>
            <option value="gm">Gambia</option>
            <option value="ge">Georgia</option>
            <option value="de">Germany</option>
            <option value="gh">Ghana</option>
            <option value="gi">Gibraltar</option>
            <option value="gr">Greece</option>
            <option value="gl">Greenland</option>
            <option value="gd">Grenada</option>
            <option value="gp">Guadeloupe</option>
            <option value="gu">Guam</option>
            <option value="gt">Guatemala</option>
            <option value="gg">Guernsey</option>
            <option value="gn">Guinea</option>
            <option value="gw">Guinea-Bissau</option>
            <option value="gy">Guyana</option>
            <option value="ht">Haiti</option>
            <option value="hm">Heard Island and McDonald Islands</option>
            <option value="hn">Honduras</option>
            <option value="hk">Hong Kong</option>
            <option value="hu">Hungary</option>
            <option value="is">Iceland</option>
            <option value="in">India</option>
            <option value="id">Indonesia</option>
            <option value="ir">Iran</option>
            <option value="iq">Iraq</option>
            <option value="ie">Ireland</option>
            <option value="im">Isle of Man</option>
            <option value="il">Israel</option>
            <option value="it">Italy</option>
            <option value="ci">Ivory Coast</option>
            <option value="jm">Jamaica</option>
            <option value="jp">Japan</option>
            <option value="je">Jersey</option>
            <option value="jo">Jordan</option>
            <option value="kz">Kazakhstan</option>
            <option value="ke">Kenya</option>
            <option value="ki">Kiribati</option>
            <option value="kw">Kuwait</option>
            <option value="kg">Kyrgyzstan</option>
            <option value="la">Laos</option>
            <option value="lv">Latvia</option>
            <option value="lb">Lebanon</option>
            <option value="ls">Lesotho</option>
            <option value="lr">Liberia</option>
            <option value="ly">Libya</option>
            <option value="li">Liechtenstein</option>
            <option value="lt">Lithuania</option>
            <option value="lu">Luxembourg</option>
            <option value="mo">Macao</option>
            <option value="mk">Macedonia, F.Y.R. of</option>
            <option value="mg">Madagascar</option>
            <option value="mw">Malawi</option>
            <option value="my">Malaysia</option>
            <option value="mv">Maldives</option>
            <option value="ml">Mali</option>
            <option value="mt">Malta</option>
            <option value="mh">Marshall Islands</option>
            <option value="mq">Martinique</option>
            <option value="mr">Mauritania</option>
            <option value="mu">Mauritius</option>
            <option value="yt">Mayotte</option>
            <option value="mx">Mexico</option>
            <option value="fm">Micronesia</option>
            <option value="md">Moldova</option>
            <option value="mc">Monaco</option>
            <option value="mn">Mongolia</option>
            <option value="me">Montenegro</option>
            <option value="ms">Montserrat</option>
            <option value="ma">Morocco</option>
            <option value="mz">Mozambique</option>
            <option value="mm">Myanmar</option>
            <option value="na">Namibia</option>
            <option value="nr">Nauru</option>
            <option value="np">Nepal</option>
            <option value="nl">Netherlands</option>
            <option value="an">Netherlands Antilles</option>
            <option value="nc">New Caledonia</option>
            <option value="nz">New Zealand</option>
            <option value="ni">Nicaragua</option>
            <option value="ne">Niger</option>
            <option value="ng">Nigeria</option>
            <option value="nu">Niue</option>
            <option value="nf">Norfolk Island</option>
            <option value="kp">North Korea</option>
            <option value="mp">Northern Mariana Islands</option>
            <option value="no">Norway</option>
            <option value="ps">Occupied Palestinian Territory</option>
            <option value="om">Oman</option>
            <option value="pk">Pakistan</option>
            <option value="pw">Palau</option>
            <option value="pa">Panama</option>
            <option value="pg">Papua New Guinea</option>
            <option value="py">Paraguay</option>
            <option value="pe">Peru</option>
            <option value="ph">Philippines</option>
            <option value="pn">Pitcairn</option>
            <option value="pl">Poland</option>
            <option value="pt">Portugal</option>
            <option value="pr">Puerto Rico</option>
            <option value="qa">Qatar</option>
            <option value="re">Reunion</option>
            <option value="ro">Romania</option>
            <option value="ru">Russian Federation</option>
            <option value="rw">Rwanda</option>
            <option value="bl">Saint Barthélemy</option>
            <option value="sh">Saint Helena</option>
            <option value="kn">Saint Kitts and Nevis</option>
            <option value="lc">Saint Lucia</option>
            <option value="mf">Saint Martin</option>
            <option value="pm">Saint Pierre and Miquelon</option>
            <option value="vc">Saint Vincent and the Grenadines</option>
            <option value="ws">Samoa</option>
            <option value="sm">San Marino</option>
            <option value="st">Sao Tome and Principe</option>
            <option value="sa">Saudi Arabia</option>
            <option value="sn">Senegal</option>
            <option value="rs">Serbia</option>
            <option value="sc">Seychelles</option>
            <option value="sl">Sierra Leone</option>
            <option value="sg">Singapore</option>
            <option value="sk">Slovakia</option>
            <option value="si">Slovenia</option>
            <option value="sb">Solomon Islands</option>
            <option value="so">Somalia</option>
            <option value="za">South Africa</option>
            <option value="gs">South Georgia and the South Sandwich Islands</option>
            <option value="kr">South Korea</option>
            <option value="es">Spain</option>
            <option value="lk">Sri Lanka</option>
            <option value="sd">Sudan</option>
            <option value="sr">Suriname</option>
            <option value="sj">Svalbard and Jan Mayen</option>
            <option value="sz">Swaziland</option>
            <option value="se">Sweden</option>
            <option value="ch">Switzerland</option>
            <option value="sy">Syria</option>
            <option value="tw">Taiwan</option>
            <option value="tj">Tajikistan</option>
            <option value="tz">Tanzania</option>
            <option value="th">Thailand</option>
            <option value="tl">Timor-Leste</option>
            <option value="tg">Togo</option>
            <option value="tk">Tokelau</option>
            <option value="to">Tonga</option>
            <option value="tt">Trinidad and Tobago</option>
            <option value="tn">Tunisia</option>
            <option value="tr">Turkey</option>
            <option value="tm">Turkmenistan</option>
            <option value="tc">Turks and Caicos Islands</option>
            <option value="tv">Tuvalu</option>
            <option value="ae">U.A.E.</option>
            <option value="vi">U.S. Virgin Islands</option>
            <option value="ug">Uganda</option>
            <option value="ua">Ukraine</option>
            <option value="gb">United Kingdom</option>
            <option value="us">United States</option>
            <option value="um">United States Minor Outlying Islands</option>
            <option value="uy">Uruguay</option>
            <option value="uz">Uzbekistan</option>
            <option value="vu">Vanuatu</option>
            <option value="va">Vatican City</option>
            <option value="ve">Venezuela</option>
            <option value="vn">Vietnam</option>
            <option value="wf">Wallis and Futuna</option>
            <option value="eh">Western Sahara</option>
            <option value="ye">Yemen</option>
            <option value="zm">Zambia</option>
            <option value="zw">Zimbabwe</option>
            <option value="ax">Åland Islands</option>
          </select>
        </li>
        <li class="form-message">
          <label for="person-message">{{ _('Why do you want to be a Mozilla volunteer?') }} <i>{{ _('(Optional)') }}</i></label>
          <textarea id="person-message" cols="60" rows="4" name="message"></textarea>
        </li>
        <li class="form-submit">
          <button type="submit" class="button-flat">{{ _('Start contributing') }}</button>
        </li>
        <li class="form-newsletter">
          <label class="inline" for="person-newsletter">
            <input type="checkbox" id="person-newsletter" name="newsletter"> {{ _('Sign me up for community updates') }}
          </label>
        </li>
      </ul>
    </fieldset>
  </form>

  </section>

  <section class="section volunteer-extra">
    <div class="container">

      <div class="extra-event">
        <h3>{{ _('Next event') }}</h3>
        <a class="event-link" href="#">
          <div class="event-map">
            <time class="event-date" datetime="28-09-2014"><abbr class="date-month" title="September">Sep</abbr> <span class="date-day">28</span></time>
            <img src="{{ media('img/volunteer/mapsmall-fpo.png') }}" alt="">
          </div>
          <h4 class="event-title">Translating Firefox OS</h4>
          <p class="event-info"><span class="event-venue">Caixaforum</span> &middot; <span class="event-location">Madrid, Spain</span></p>
        </a>
        <p class="events-all"><a href="{{ url('mozorg.volunteer.events') }}">{{ _('See all events') }}</a></p>
      </div>

      <div class="extra-links">
        <h3>{{ _('Communicate') }}</h3>
        <ul>
          <li><a href="#">{{ _('Mozilla communities') }}</a></li>
          <li><a href="#">{{ _('Mailing lists') }}</a></li>
          <li><a href="#">{{ _('IRC channels') }}</a></li>
        </ul>

        <h3>{{ _('More links') }}</h3>
        <ul>
          <li><a href="#">{{ _('Firefox feedback') }}</a></li>
          <li><a href="#">{{ _('Mozilla careers') }}</a></li>
          <li><a href="#">{{ _('Need help with Firefox?') }}</a></li>
        </ul>
      </div>

    </div>
  </section>

</main>
{% endblock %}

{% block email_form %}{% endblock %}

